table, th, td {
    border-color: black;
    border-width: 10px;
}

.oneDayTable {
    position: relative;
    z-index: 1;
    max-width: 750px;
    margin: 0 auto 100px;
    padding: 5px;    
    border-radius: 1%;
    border-style: solid;
    border-width: 1px;
    border-color: darkgrey;    
}

.oneDayRow {
    min-width: 100px;
}

.rowReserved {
    background-color: aquamarine;
}

.rowUnreserved {
    background-color: bisque;
}

.oneDayCell {
    min-width: 100px;
}